* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.911);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background-color: black;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: bisque;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 50vh !important;
    background: url(amoruwu.png) no-repeat content-box;
    background-size: cover;
    text-decoration: none;
}

/* From Uiverse.io by nikk7007 */
.title {
    padding: 0.8em 1.8em;
    border: 3px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.title::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.title:hover::before {
    width: 105%;
}

.title:hover {
    color: #111;
}

p {
    margin-bottom: 40px;
    font-size: 30px;
}

.foto {
    position: fixed;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(212, 0, 255);
    color: aliceblue;
    text-decoration: none;
    background: rgb(170, 0, 255);
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.title {
    text-decoration: none;
}

.text {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.text:active,
.text:hover {
    outline: 0;
}

.text span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;

}

.text:hover span {
    background: none;
}

.text:active {
    transform: scale(0.9);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.content header {
    text-decoration: none;
}

/* From Uiverse.io by iZOXVL */
.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
}

.texto {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 5;
    text-transform: lowercase;
    color: rgb(219, 244, 244);
}

/* From Uiverse.io by Spacious74 */
.outer {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 1px;
    background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
    position: relative;
}

.dot {
    width: 5px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 100px;
    z-index: 2;
    right: 10%;
    top: 10%;
    animation: moveDot 7s linear infinite;
}

@keyframes moveDot {

    0%,
    100% {
        top: 10%;
        right: 10%;
    }

    25% {
        top: 10%;
        right: calc(100% - 25px);
    }

    50% {
        top: calc(100% - 15px);
        right: calc(100% - 25px);
    }

    75% {
        top: calc(100% - 15px);
        right: 10%;
    }
}

.card {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: solid 1px #202222;
    background-size: 20px 20px;
    background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
}

.ray {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.3;
    box-shadow: 0 0 50px #fff;
    filter: blur(10px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(30deg);
}

.card .text {
    font-weight: bolder;
    font-size: 3rem;
    background: linear-gradient(45deg, #000000 4%, #fff, #000);
    background-clip: text;
    color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #2c2c2c;
}

.topl {
    top: 10%;
    background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.bottoml {
    bottom: 10%;
}

.leftl {
    left: 10%;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.rightl {
    right: 10%;
    width: 1px;
    height: 100%;
}

@media (max-width: 168px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }
}
